@model PessoaModel
@{
    ViewData["Title"] = "Deleção do departamento Pessoal";
}

<div class="text-center">
    <h2 class="display-4">Confirmação da deleção do departamento Pessoal(@Model.Nome)?</h2>
</div>

<a role="button" asp-controller="Departamento" asp-action="Consultar" class="btn btn-danger btn-block">Cancelar</a>
<a role="button" asp-route-id="@Model.Id" asp-controller="Departamento" asp-action="Apagar" class="btn btn-primary btn-block">Confirmar a Exclusão</a>