@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao sistema Departamento Pessoal</h1>
    <p>Desenvolver habilidades no sistema para entender o fluxo de estudo de desenvolvimento</p>
</div>
